.header {
  background: #f6f6f6;
}
.container {
  padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1240 - 320)));
  padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1240 - 320)));
  padding-left: calc(10px + (20 - 10) * ((100vw - 320px) / (1240 - 320)));
  padding-right: calc(10px + (20 - 10) * ((100vw - 320px) / (1240 - 320)));
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.layoutStyles{
max-width: 80px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}